<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Scrape Cayman Gazettes</title>
  </head>
  <style>
    body {
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
    }

    h2 {
      color: blue;
    }

    input {
      size: 100px;
      padding: 1dvh;
      margin-top: 1dvh;
    }
  </style>
  <body>
    <h2>Cayman Gazettes</h1>

    <h3>Search by term</h2>
    <form method="POST" action="/search-pdf">
      <input placeholder="Search term" id="term" name="term" required />
      <br />

      <input
        placeholder="Start year (&gt;= 2004)"
        type="number"
        id="start-year"
        name="start-year"
        required
      />
      <br />

      <input
        placeholder="End year (&lt;= 2025)"
        type="number"
        id="end-year"
        name="end-year"
        required
      />
      <br />

      <input type="submit" value="Search" />
    </form>

    <h3>Simple search by term</h2>
    <form method="POST" action="/simple-search">
      <input
        placeholder="Search term"
        id="simple-search-term"
        name="simple-search-term"
        required
      />
      <br />

      <input
        placeholder="Start year (&gt;= 2004)"
        type="number"
        id="simple-start-year"
        name="simple-start-year"
        required
      />
      <br />

      <input
        placeholder="End year (&lt;= 2025)"
        type="number"
        id="simple-end-year"
        name="simple-end-year"
        required
      />
      <br />

      <input type="submit" value="Search" />
    </form>

    <h3>Scrape Regular Gazettes by year</h2>
    <form method="POST" action="/generate-pdf">
      <input placeholder="Year (2004-2025)" type="number" id="year" name="year" required />
      <br />

      <input type="submit" value="Scrape" />
    </form>

    <h3>Scrape Extraordinary Gazettes by year</h2>
    <form method="POST" action="/scrape-extraordinary-pdf">
      <input
        placeholder="Year (2004-2025)"
        type="number"
        id="extraordinary-year"
        name="extraordinary-year"
        required
      />
      <br />

      <input type="submit" value="Scrape Extraordinary Gazettes" />
    </form>
  </body>
</html>
